.icon__list {
    list-style: none;

    &-item {
        display: inline-block;
        margin:  0 1.6rem 4rem 0;
        background-image: linear-gradient(to right, #e79a0b, #ff0000);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        border-radius: 50%;

        &__link {
            color: #bb3605;
            font-size: 4rem;
            transition: all .1s;

            &:hover {
                color: #ffa500;
            }
        }

    }
}