
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   font-size: 62.25%;
   scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
   font-weight: 4rem;
   /* font-size: 1.6px; */
   line-height: 1.7;
   color: #777;
}
